h1 {
    background-color:royalblue;
    color:rgb(242,109,102)
}

h6{
    background-color:rgb(70,1,138);
    color:rgb(177,255,168)
}

p{
    background-color:rgb(255,168,222);
    color:rgb(73,7,186)
}

#myWork{
    background-color:rgb(228,125,232);
    color:rgb(0,0,0)
}

ul{
    background-color:rgb(114,171,94);
    color:rgb(148,11,6)
}

ol{
    background-color:rgb(233,240,146);
    color:rgb(222,82,82)
}

table{
    background-color:rgb(199,164,252);
    color:rgb(50,88,166)
}

td{
    background-color:rgb(181,56,56);
    color:rgb(247,246,129)
}

.greenBackgroundColor{
    background-color:rgb(116,199,101)
}

#_AnimeTableDiv{
   font-family:Arial, Helvetica, sans-serif;
   border: dashed rgb(51,124,255) 0.3rem;
   padding: 0.4rem;
   background-color:rgb(0,0,0)
}

.homeworkClass{
    background-color:rgb(42, 97, 55)
}

.redBorderClass{
    border: solid rgb(255,0,0) 0.5rem; 
    padding: 0.5rem;
    margin: 1rem;
}

.yellowBorderClass{
    border: dotted rgb(247,246,129) 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

.purpleBorderClass{
    border: dashed rgb(193, 62, 193);
    padding: 0.5rem;
    margin: 1rem;
}

.orangeBorderClass{
    border: groove rgb(255,165,0);
    padding: 0.5rem;
    margin: 1rem;
}

.blueBorderClass{
    border: double rgb(64, 64, 144);
    padding: 0.5rem;
    margin: 1rem;
}

.pinkBorderClass{
    border:ridge rgb(255, 181, 193);
    padding: 0.5rem;
    margin: 1rem;
}

.cyanBorderClass{
    border:inset rgb(66, 242, 245);
    padding: 0.5rem;
    margin: 1rem;
}

.blackBorderClass{
    border:outset rgb(0,0,0);
    padding: 0.5rem;
    margin: 1rem;
}




