h1 {
    background-color:royalblue;
    color:rgb(242,109,102)
}

h6{
    background-color:rgb(70,1,138);
    color:rgb(177,255,168)
}

p{
    background-color:rgb(255,168,222);
    color:rgb(73,7,186)
}

#myWork{
    background-color:rgb(228,125,232);
    color:rgb(0,0,0)
}

ul{
    background-color:rgb(114,171,94);
    color:rgb(148,11,6)
}

ol{
    background-color:rgb(233,240,146);
    color:rgb(222,82,82)
}

table{
    background-color:rgb(199,164,252);
    color:rgb(50,88,166)
}

td{
    background-color:rgb(181,56,56);
    color:rgb(247,246,129)
}

.greenBackgroundColor{
    background-color:rgb(116,199,101)
}

.yellowBackgroundColor{
    background-color:rgb(230,232,128)
}

.blueBackgroundColor{
    background-color:rgb(128,175,232)
}

.redBackgroundColor{
    background-color: rgb(214,39,39)
}

.purpleBackgroundColor{
    background-color: rgb(128,0,128);
}

.orangeBackgroundColor{
    background-color: rgb(255,165,0);
}

.greyBackgroundColor{
    background-color: rgb(105,105,105);
}

.pinkBackgroundColor{
    background-color: rgb(255,192,203);
}

.cyanBackgroundColor{
    background-color: rgb(66, 242, 245);
}

.yellow-greenBackgroundColor{
    background-color: rgb(182,245,66);
}

.light-blueBackgroundColor{
    background-color: rgb(66,179,245);
}

#_AnimeTableDiv{
   font-family:Arial, Helvetica, sans-serif;
   border: dashed rgb(51,124,255) 0.3rem;
   padding: 0.4rem;
   background-color:rgb(0,0,0)
}

.homeworkClass{
    background-color:rgb(42, 97, 55)
}

.redBorderClass{
    border: solid rgb(255,0,0) 0.5rem; 
    padding: 0.5rem;
    margin: 1rem;
}

.yellowBorderClass{
    border: solid rgb(247,246,129) 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

.purpleBorderClass{
    border: solid rgb(193, 62, 193) 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

.orangeBorderClass{
    border: solid rgb(255,165,0) 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

.blueBorderClass{
    border: solid rgb(64, 64, 144) 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

.pinkBorderClass{
    border: solid rgb(255, 181, 193) 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

.cyanBorderClass{
    border: solid rgb(66, 242, 245) 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

.blackBorderClass{
    border: solid rgb(0,0,0) 1rem;
    padding: 0.5rem;
    margin: 1rem;
}

img{
    max-width: 100%;
    max-height: 100%;
}


.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    height: 2rem;
}

.flexItem{
    align-self:center;
    flex-basis: 3rem;
}

.flexContainer1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 1rem;
}

.flexItem1{
    align-self: center;
    flex-grow: 2;
}

.flexItem4{
    flex-grow: 4;
    align-self: center;
}

.flexItem5{
    flex-grow: 1;
    align-self: center;
}

.flexContainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.flexItem2{
    align-self: center;
    flex-shrink: initial;
}

.flexContainer3{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    height: 8rem;
    width: 5rem;
    flex-wrap: wrap;
}

.flexItem3{
    align-self: center;
    flex-shrink: 0;
    flex-basis: 5rem;
}

.flexContainer4{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    height: 10rem;
    width: 10rem;
    flex-wrap: wrap;
    margin: 3rem;
}

.flexItem6{
    align-self: center;
    flex-basis: 5rem;
}

.flexContainer5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    flex-wrap: wrap;
    margin: 5rem
}

.flexItem7{
    align-self: center;
    flex-basis: 5rem;
}